body {
    font-size: 26px;
}

.container {
    margin: 0 auto;
    width: 60%;
    /*border: 1px solid #333;*/
}

.filters {
    /*display: inline-block;*/
    padding: 5px;
    border: 1px solid #333;
    text-align: right;
    text-align: center;
    position: relative;
}

input, select, option {
    padding: 10px;
    font-size: 26px!important;
    margin-bottom: 10px;
}

#loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

[hidden]{
  display: none!important;
}

.products li {
    margin-bottom: 10px;
}

.products li:nth-child(odd) {
    background-color: #eaeaea;
}

#pagination {
    margin-top: 50px;
}

#pagination a {
    padding: 5px;
    display: inline-block;
}

