/* USER VARIABLES SECTION */

:root {
	--accent: orange;
	--text: #333;
	--regular-text: 17.45px;
	/*--lineheight: 1.65;*/
	--lineheight: 1.4;
    --userfont: serif;
    /*--userfont: roboto-st, sans-serif;*/
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;

    --fz-bg: 21px;

    --bdrs: 5px;
    --bdrs-sm: 1px;
    --container-w: 1154px;
    --container-p: 22px;
    --mr: 25px;
    --mr-sm: 10.5px;
    --mr-md: 30px;
    --mr-lg: 40px;

    --placeholder-c: #eee;
    --bg-c: #fffbf4;

    --hr-len: 966px;
}

/* BOOTSTRAP SETTINGS SECTION */

/* gutter 20px (10px + 10px). Comment this code for default gutter start at 1.5rem (24px) wide. */
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl { --bs-gutter-x: .625rem; }
.row, .row > * { --bs-gutter-x: 1.25rem; }

/* GENERAL CSS SETTINGS */
::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

body {
	font-family: var(--userfont);
	font-size: var(--regular-text);
    font-weight: 300;
	line-height: var(--lineheight);
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
}

span.bold_text {
    font-weight: 600;
}

img {
    width: 100%;
    height: auto;
}

/* USER STYLES */

.main-header{
    position: relative;
    margin: 0 -22px;
}

.main-header_links {
    font-size: 18px;
    position: relative;
    line-height: 1;
}
.main-header a {
    color: #333;
    text-decoration: none;
}

.main-header_links ul {
    display: flex;
    /*gap: 50px;*/
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    height: 30px;
    z-index: 0;
}
.main-header_links li{
    width: 100%;
    padding: 5px;
    text-align: center;
    border-right: 1px solid #333;
    position: relative;
    background-color: #fff;
}
.main-header nav>ul>li:first-child {
    border-left: 1px solid #333;
}
.main-header_links li:hover {
    background-color: #efefef;
}
.main-header_links a{
    padding: 10px;
    display: block;
}
.main-header nav ul li:hover ul {
    display: block;
    background-color: #eee;
}
.main-header_links ul ul {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
}
.main-header_links ul ul li {
    border-bottom: 1px solid #333;
    border-right: none;
}
.main-header_links ul ul li:first-child {
    border-top: 1px solid #333;
}

.header-placeholder {
    background-color: var(--placeholder-c);
    padding: 16px 30px;
}

.main-header_cookies {
    background-color: var(--bg-c);
    width: 462px;
    padding: 10px;
    /*float: right;*/
    /*margin-top: -20px;*/
    margin-top: 15px;
    margin-left: auto;
}

.main-header_cookies-close {
    float: right;
    cursor: pointer;
}

.container {
    max-width: var(--container-w);
    /*border: 1px solid #333;*/
    /*border-top: 0;*/
    /*border-bottom: 0;*/
    padding: 0 var(--container-p);
}

.secondary-header_info h1{
    margin-bottom: var(--mr-md);
    font-weight: 400;
}
.secondary-header_info{
    margin-top: 30px;
    font-size: 21px;
}
.secondary-header_info ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.secondary-header_list>li{
    margin-bottom: var(--mr);
    margin-bottom: 25px;
}

.secondary-header_info ul li span{
    font-weight: 600;
    /*width: 190px;*/
    width: 138px;
    display: inline-block;
    /*margin-right: 60px;*/
    vertical-align: top;
}

.secondary-header_info ul li ul{
    display: inline-block;
}

.secondary-header_info img{
    border-radius: var(--bdrs);
}

ul.secondary-header_types {
    list-style-type: none;
    margin: 30px auto 15px;
    padding: 0;
}

ul.secondary-header_types li {
    display: inline-block;
    font-style: italic;
    font-size: var(--regular-text);
    padding: 10px;
    background-color: var(--bg-c);
    border-radius: var(--bdrs);
    margin: 0 10.5px;
    margin: 10.5px;
    /*rocking animation?*/
}

/*MAIN GALLERY*/

.main-gallery_desc {
    font-size: var(--fz-bg);
    margin-top: 14px;
    margin-bottom: 30px;
}

.main-gallery_item {
    margin-bottom: 20px;
    position: relative;
}

.main-gallery_item img{
    border-radius: var(--bdrs);
    transition: border-radius .25s ease-in-out
}

.main-gallery_item-caption{
    height: auto;
    position: absolute;
    bottom: 0;
    padding: 9px 12px 10px 10px;
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    opacity: 0;
    border-radius: 0 0 var(--bdrs-sm) var(--bdrs-sm);
    transition: opacity .25s ease-in-out
}

.main-gallery_item:hover .main-gallery_item-caption{
    opacity: 1; }

.main-gallery_item:hover img{
    border-radius: var(--bdrs-sm);
}

.content-sep{
    /*//*/
    display: flex;
    gap: var(--mr);
    margin-bottom: 15px;
}

.cake{
    justify-content: center;
    align-items: center;
}

.content-sep img{
    max-height: 83px;
    width: auto;
}

.shots {
    justify-content: center;
    align-items: center;
}

.behind {
    justify-content: space-around;
    align-items: center;
}

.row-one :nth-child(2) .main-gallery_item-caption{
    margin-bottom: 54%;
}

.row-two {
    align-items: end;
    margin-top: -18%;
}

.statistics {
    display: flex;
    /*justify-content: space-between;*/
    /*justify-content: center;*/
    align-items: center;
    gap: 25px;
}

.statistics b{
    margin-right: 10px;
}
.statistics img{
    max-height: 76px;
    width: auto;
}

/*MOBILE*/
.secondary-header_info .mobile-heading {
    margin-bottom: var(--mr-sm);
}
/*adaptivity*/
/*fix flex*/
/*something happened with types (validate?)*/
